NXT_TELEGRAM_BOT_TOKEN=123456789:replace_with_your_bot_token
NXT_TELEGRAM_CHAT_ID=replace_with_your_chat_id
NXT_SYMBOLS=BTCUSDT,SOLUSDT,SUIUSDT
NXT_NOTIFY_NO_SIGNAL=0
NXT_BINANCE_KLINES_URL=https://data-api.binance.vision/api/v3/klines
